/* .search-bar {
	width: 80%;
	height: 30px;
	margin-left: 10px;
	font-size: 18px;
	border: none;
	outline: none;
	justify-content: center;
	border-radius: 8px 8px 8px 8px;
}

.search-icon {
	position: relative;
	top: 5px;
	right: 25px;
} */

/* button {
	height: 37px;
	padding: 15px;
	z-index: 1;
	border: 1px solid black;
	border-radius: 0px 8px 8px 0px;
	background: rgb(104, 0, 255);
	background: linear-gradient(
		90deg,
		rgba(104, 0, 255, 1) 38%,
		rgba(151, 18, 209, 1) 100%
	);
	color: white;
	font-size: 20px;
}

button:hover {
	background: rgb(104, 0, 255);
	background: linear-gradient(
		90deg,
		rgb(90, 3, 219) 38%,
		rgb(138, 23, 187) 100%
	);
}

button:active {
	background: rgb(104, 0, 255);
	background: linear-gradient(
		90deg,
		rgb(78, 3, 192) 38%,
		rgb(118, 19, 160) 100%
	);
} */

.search-container {
	margin-left: auto;
	/* margin: 0 auto; */
	background: #fff;
	height: 50px;
	border-radius: 50px;
	padding: 10px 20px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	transition: 0.8s;
	box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}

.search-container:hover input {
	width: 350px;
}

.search-container input {
	background: transparent;
	border: none;
	outline: none;
	width: 0px;
	font-weight: 500;
	font-size: 16px;
	transition: 0.8s;
}

.search-container input:focus {
	width: 350px;
}

@media (max-width: 600px) {
	.search-container {
		width: 300px;
		transition: none;
	}

	.search-container input {
		width: 300px;
	}
}
